
<body>
<style>
  @import url('https://fonts.googleapis.com/css?family=Rubik');
  body {
    font-family: 'Rubik', sans-serif;
  }
  [class^="col-"] > * {
    background: #eee;
    border: 1px dashed #333;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    text-align: center;
    text-transform: lowercase;
  }
</style>
<script>
  function updateWindowWidth() {
    const ww = document.getElementById("window-width");
    const width = window.document.body.clientWidth;
    ww.textContent = width;
  }
  window.addEventListener("resize", updateWindowWidth);
  document.addEventListener("DOMContentLoaded", updateWindowWidth)
</script>

<div>
  Window: <code id="window-width"></code>px
</div>


<h1>mixed</h1>
<div class="container">
   <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-1">
         <div>col-xs-1 col-sm-2 col-md-1</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-3">
         <div>col-xs-2 col-sm-1 col-md-3</div>
      </div>
      <div class="col-xs-1 col-sm-3 col-md-2">
         <div>col-xs-1 col-sm-3 col-md-2</div>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-2">
         <div>col-xs-1 col-sm-2 col-md-2</div>
      </div>
   </div>
</div>

<h1>offsets</h1>
<div class="container">
   <div class="row">
      <div class="col-xs-2 offset-xs-2 col-sm-4 offset-sm-2">
        <div>col-xs-2 offset-xs-2 col-sm-4 offset-sm-2</div>
      </div>
      <div class="col-md-2 offset-md-2 col-lg-4 offset-lg-2">
        <div>col-md-2 offset-md-2 col-lg-4 offset-lg-2</div>
      </div>
   </div>
</div>

<h1>push</h1>
<div class="container">
   <div class="row">
      <div class="col-xs-2 push-xs-2 col-sm-4 push-sm-2">
        <div>col-xs-2 push-xs-2 col-sm-4 push-sm-2</div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-2 offset-xs-1 pull-xs-1">
        <div>col-xs-2 offset-xs-1 pull-xs-1</div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2 push-md-2 col-lg-4 push-lg-2">
        <div>col-md-2 push-md-2 col-lg-4 push-lg-2</div>
      </div>
   </div>
</div>

<!-- generated -->
<h1>xs <small>4 cols</small></h1><div class="container"><div class="row"><div class="col-xs-1"><div>col-xs-1</div></div><div class="col-xs-1"><div>col-xs-1</div></div><div class="col-xs-1"><div>col-xs-1</div></div><div class="col-xs-1"><div>col-xs-1</div></div></div><div class="row"><div class="col-xs-2"><div>col-xs-2</div></div><div class="col-xs-1"><div>col-xs-1</div></div><div class="col-xs-1"><div>col-xs-1</div></div></div><div class="row"><div class="col-xs-3"><div>col-xs-3</div></div><div class="col-xs-1"><div>col-xs-1</div></div></div><div class="row"><div class="col-xs-4"><div>col-xs-4</div></div></div></div><h1>sm <small>8 cols</small></h1><div class="container"><div class="row"><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div></div><div class="row"><div class="col-sm-2"><div>col-sm-2</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div></div><div class="row"><div class="col-sm-3"><div>col-sm-3</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div></div><div class="row"><div class="col-sm-4"><div>col-sm-4</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div></div><div class="row"><div class="col-sm-5"><div>col-sm-5</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div></div><div class="row"><div class="col-sm-6"><div>col-sm-6</div></div><div class="col-sm-1"><div>col-sm-1</div></div><div class="col-sm-1"><div>col-sm-1</div></div></div><div class="row"><div class="col-sm-7"><div>col-sm-7</div></div><div class="col-sm-1"><div>col-sm-1</div></div></div><div class="row"><div class="col-sm-8"><div>col-sm-8</div></div></div></div><h1>md <small>8 cols</small></h1><div class="container"><div class="row"><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div></div><div class="row"><div class="col-md-2"><div>col-md-2</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div></div><div class="row"><div class="col-md-3"><div>col-md-3</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div></div><div class="row"><div class="col-md-4"><div>col-md-4</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div></div><div class="row"><div class="col-md-5"><div>col-md-5</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div></div><div class="row"><div class="col-md-6"><div>col-md-6</div></div><div class="col-md-1"><div>col-md-1</div></div><div class="col-md-1"><div>col-md-1</div></div></div><div class="row"><div class="col-md-7"><div>col-md-7</div></div><div class="col-md-1"><div>col-md-1</div></div></div><div class="row"><div class="col-md-8"><div>col-md-8</div></div></div></div><h1>lg <small>12 cols</small></h1><div class="container"><div class="row"><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-2"><div>col-lg-2</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-3"><div>col-lg-3</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-4"><div>col-lg-4</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-5"><div>col-lg-5</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-6"><div>col-lg-6</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-7"><div>col-lg-7</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-8"><div>col-lg-8</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-9"><div>col-lg-9</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-10"><div>col-lg-10</div></div><div class="col-lg-1"><div>col-lg-1</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-11"><div>col-lg-11</div></div><div class="col-lg-1"><div>col-lg-1</div></div></div><div class="row"><div class="col-lg-12"><div>col-lg-12</div></div></div></div>
